* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
a {
  color: #666;
  font-size: 14px;
  display: block;
}
.logo {
  width: 190px;
  height: 60px;
  background: #DDD;
}
.login-title {
  flex-basis: 100%;
  margin-top:0px;
  margin-bottom:20px;
}
#login-page {
  display: flex;
}
.login {
  width: 30%;
  height: 100vh;
  background: #eddd30;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.login a {
  margin-top: 25px;
}
.form-login label {
  text-align: left;
  font-size: 13px;
  margin-top: 5px;
  display: block;
  color: #035385;
  font-weight:bold;
}
.input-email,
.input-password {
  width: 100%;
  background: rgb(232, 240, 254) ;
  border-radius: 0px;
  margin: 4px 0 8px 0;
  padding: 0px;
  float: left;
  display: flex;
  color:#035385;
}
.icon {
  padding: 4px;
  color: #666;
  min-width: 30px;
  text-align: center;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 9px 0;
  outline: none;
}
input[type="submit"] {
  width: 100%;
  border: 0;
  border-radius: 0px;
  padding: 8px;
  background: #035385;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  ;
}

.background {
  width: 75%;
  height: 100vh;
  background:url('https://images.unsplash.com/photo-1582883040775-f98dd8c04597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  
}
mark.red {
    color:#eddd30;
    background: none;
}
.background h1 {
  
  color: white;
  font-size:30px;
  padding-right: 170px;
  padding-bottom: 420px;
  font-weight:bold;
}

.madeby {
  position: absolute;
  bottom: 30px;
  right: 40px;
}
.madeby p {
  font-weight: bold;
  color: #9EBD13;
}
.madeby a {
  color: #222;
  text-decoration: none;
}